html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#ss1 .container {
  padding-bottom: 5%;
}
.ggg {
  display: flex;
  justify-content: center;
  align-items: center;
}

header.container {
  padding-top: 25px;
}
header .container img {
  width: 198px;
  height: 55px;
}
.mobile {
  display: none;
}
.ggg h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
span {
  color: #f05a32;
}
.ggg button {
  font-family: montserrat;
  width: 122px;
  height: 38.75px;
  background-color: #f05a32;
  color: white;
  border-radius: 5px;
  border: none;
}
.text {
  display: flex;
}
.desktop {
  position: relative;
  width: 626px;
}
.text h1 {
  margin-top: 50px;
  font-family: montserrat;
  font-size: 32px;
  font-weight: 400;
  padding-right: 15%;
}
.test p {
  margin-top: 10px;
  font-family: montserrat;
  font-size: 24px;
  font-weight: 700;
  color: #f05a32;
}
.test h1 {
  font-family: montserrat;
  font-weight: 700;
  font-size: 32px;
  color: #f05a32;
}
#ss2 {
  background: #f05a32;
}
.fff {
  color: #ffffff;
  font-family: montserrat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.about-box {
  flex: 1;
}
.about-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-left: 10%;
  padding-right: 10%;
}
.about-subtitle {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  padding-left: 10%;
  padding-right: 10%;
}
.about-text {
  color: #ffffff;
  line-height: 1.5;
  font-size: 1 rem;
  padding-left: 10%;
  padding-right: 10%;
}

.hhh h1 {
  font-weight: 700;
  font-size: 3rem;
  font-family: montserrat;
  color: #f05a32;
  text-align: center;
  margin-top: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 20px;
}

.child1 {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.child1 img {
  max-width: 100%;
  height: auto;
}

.child1 h1 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.child1 p {
  font-size: 1rem;
  margin-top: 10px;
  padding-right: 15%;
  padding-left: 15%;
}
.child2 {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.child2 img {
  max-width: 100%;
  height: auto;
}

.child2 h1 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.child2 p {
  font-size: 1rem;
  margin-top: 10px;
  padding-right: 25%;
  padding-left: 25%;
}
.child3 {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.child3 img {
  max-width: 100%;
  height: auto;
}

.child3 h1 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.child3 p {
  font-size: 1rem;
  margin-top: 10px;
  padding-right: 20%;
  padding-left: 20%;
}
.child4 {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.child4 img {
  max-width: 100%;
  height: auto;
  margin-top: 35px;
}

.child4 h1 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.child4 p {
  font-size: 1rem;
  margin-top: 10px;
  padding-right: 20%;
  padding-left: 20%;
}
.child5 {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.child5 img {
  max-width: 100%;
  height: auto;
}

.child5 h1 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.child5 p {
  font-size: 1rem;
  margin-top: 10px;
  padding-right: 10%;
  padding-left: 15%;
}
.child6 {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.child6 img {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}

.child6 h1 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.child6 p {
  font-size: 1rem;
  margin-top: 10px;
  padding-right: 15%;
  padding-left: 15%;
}

#ss4 {
  background: #fdd301;
  height: 579px;
  margin-top: 200px;
}
#theme {
  transform: translatey(-22%);
  position: absolute;
}
.hell h1 {
  font-family: montserrat;
  padding-left: 40%;
  padding-right: 25%;
  /* padding-top: 8%; */
  font-size: 48px;
  font-weight: 700;
  color: #3f4753;
}
.hell p {
  font-family: montserrat;
  font-size: 18px;
  color: #3f4753;
  margin-top: 40px;
  padding-left: 40%;
  padding-right: 20%;
}
.hell1 h1 {
  font-family: montserrat;
  font-size: 40px;
  font-weight: 700;
  color: #f05a32;
  margin-top: 40px;
  padding-left: 40%;
  padding-right: 20%;
}
.hell2 p {
  font-family: montserrat;
  font-size: 32px;
  font-weight: 400;
  color: #f05a32;
  padding-left: 40%;
}
#ss5 {
  background: #eaeaea;
  height: 150px;
}
.path {
  display: flex;
  flex-wrap: wrap;
}
.path h1 {
  font-family: montserrat;
  font-size: 32px;
  font-weight: 900;
  margin-top: 25px;
  color: #3f4753;
}
.path h2 {
  font-family: montserrat;
  font-size: 24px;
  font-weight: 400;
  color: #3f4753;
  padding-left: 30%;
}
.path p {
  font-family: montserrat;
  font-size: 24px;
  font-weight: 400;
  color: #3f4753;
  padding-left: 10%;
  margin-top: 25px;
}
#contact-form h1 {
  font-family: montserrat;
  font-size: 40px;
  font-weight: 900;
  color: #f15b33;
  margin-top: 10%;
}
.contact-form p {
  font-family: montserrat;
  font-size: 18px;
  font-weight: 900;
  font-weight: bolder;
  color: #333333;
}
.field {
  display: flex;
  gap: 1rem;
}
#contact-form input {
  background-color: #f5f5f5;
  border: 0.2px;
  border-color: solid #0000004d;
  padding: 4px;
  border-radius: 4px;
}
.recaptcha-box {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 8px;
  width: fit-content;
  font-family: montserrat;
  margin-top: 15px;
}
.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  border-radius: 3px;
  margin-right: 10px;
}
.recaptcha-logo {
  margin-left: auto;
  width: 30px;
  height: 30px;
  background: url("https://www.gstatic.com/recaptcha/api2/logo_48.png")
    no-repeat center/contain;
}
.button button {
  background-color: #f15b33;
  font-family: montserrat;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  color: #e8e7e4;
  border-color: #f15b33;
  padding: 10px 40px;
  border: none;
  margin-top: 23px;
}
.field label {
  font-family: montserrat;
  font-size: 16px;
  font-weight: 600;
}
#contact-form label {
  font-family: montserrat;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.pp1 input {
  width: 700px;
}
.pp2 {
  display: flex;
  flex-direction: column;
}
.pp2 input {
  width: 700px;
}
#ss6 .container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
}
.pp4{
  display:flex;
  flex-direction: column;
}
.pp4 input {
  height: 70px;
}
#ss7 {
  margin-top: 5%;
  background: #f15b33;
  justify-content: center;
  text-align: center;
  display: flex;
}
.footer {
  font-family: montserrat;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.footer1 {
  font-family: montserrat;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.footer h1 {
  padding-top: 4%;
  font-family: montserrat;
  font-size: 24px;
  font-weight: 700;
}
.footer1 p {
  padding-right: 33%;
  padding-left: 32%;
}
.footer2 h1 {
  font-family: montserrat;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.footer3 p {
  font-family: montserrat;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  word-spacing: 8px;
}
.footer2 img {
  margin-top: 20px;
}
.footer2 h1 {
  margin-top: 10px;
}
.footer4 h1 {
  font-family: montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
  padding-bottom: 3%;
}
.section {
  position: absolute;
}
.rr1 {
  display: inline-block;
  position: relative;
  top: 70px;
  right: 80px;
  mix-blend-mode: multiply;
}
.rr2 {
  display: inline-block;
  position: relative;
  top: 503px;
  mix-blend-mode: multiply;
}
.rr3 {
  display: inline-block;
  position: relative;
  top: 69px;
  left: 323px;
  mix-blend-mode: multiply;
}
.rr4 {
  display: inline-block;
  position: relative;
  left: 850px;
  top: 86px;
  mix-blend-mode: multiply;
}
.rr5 {
  display: inline-block;
  position: relative;
  top: 500px;
  left: 750px;

  mix-blend-mode: multiply;
}
.rr6 {
  display: inline-block;
  position: relative;
  mix-blend-mode: multiply;
  top: 239px;
  right: 540px;
}
.rr7 {
  display: inline-block;
  position: relative;
  mix-blend-mode: multiply;
  top: 418px;
}
.rr8 {
  display: inline-block;
  position: relative;
  mix-blend-mode: multiply;
  top: 204px;
  left: 649px;
}
.vector {
  display: flex;
}
.rr9 {
  display: flex;
  position: relative;
  mix-blend-mode: multiply;
  top: 50px;
  left: 381px;
}
.rr9 img {
  position: absolute;
  width: 90px;
}
.rr10 {
  display: flex;
  position: relative;
  mix-blend-mode: multiply;
  top: 194px;
  left: 985px;
}
.rr10 img {
  position: absolute;
}
.rr11 {
  display: flex;
  position: relative;
  mix-blend-mode: multiply;
  top: 30px;
  right: 102px;
}
.rr11 img {
  position: absolute;
}
.rr12 {
  display: flex;
  position: relative;
  mix-blend-mode: multiply;
  top: 44px;
  left: 1097px;
}
.rr12 img {
  position: absolute;
}
.rr13 {
  display: flex;
  position: relative;
  mix-blend-mode: multiply;
  top: 376px;
  left: 1117px;
}
.rr14 {
  display: flex;
  position: relative;
  mix-blend-mode: multiply;
  top: 407px;
  left: 859px;
}
.rr14 img {
  position: absolute;
}
.rr15 {
  display: flex;
  position: relative;
  mix-blend-mode: multiply;
  top: 94px;
  left: 145px;
}
.rr15 img {
  position: absolute;
}
.rr16 {
  display: flex;
  position: relative;
  mix-blend-mode: multiply;
  top: 58px;
  left: 776px;
}
.rr16 img {
  position: absolute;
}
.vectors {
  position: absolute;
}
.rr18 {
  display: inline-block;
  position: relative;
  mix-blend-mode: multiply;
  top: 34px;
  left: 958px;
}
.rr19 {
  display: inline-block;
  position: relative;
  mix-blend-mode: multiply;
  top: 315px;
  left: 945px;
}
.rr20 {
  display: inline-block;
  position: relative;
  mix-blend-mode: multiply;
  top: 30px;
  left: 70px;
}
.rr21 {
  display: inline-block;
  position: relative;
  mix-blend-mode: multiply;
  top: 290px;
  right: 253px;
}
.rr22 {
  display: inline-block;
  position: relative;
  mix-blend-mode: multiply;
  top: 151px;
  left: 463px;
}
.rr23 {
  display: inline-block;
  position: relative;
  mix-blend-mode: multiply;
  top: 330px;
  right: 157px;
}
@media (max-width: 600px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  header img {
    display: flex;
    padding-top: 30px;
    height: 85px;
    width: 198px;
  }
  #ss1 .container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .ggg {
    display: flex;
    flex-direction: column;
  }
  .ggg h1 {
    font-size: 36px;
    font-weight: 600px;
    line-height: 37.5px;
    margin-top: 39px;
    text-shadow: none;
  }
  .Frame img {
    position: relative;
  }
  .ggg p {
    font-size: 22px;
    font-weight: 400;
    top: 10px;
    position: relative;
  }
  .text {
    display: flex;
    flex-direction: column-reverse;
  }
  .ggg button {
    position: relative;
    top: 10px;
  }
  .test p {
    font-size: 17px;
  }
  .text h1 {
    margin-top: 0px;
    font-size: 24px;
  }
  #ss2 {
    height: 70vh;
  }
  #ss2.container {
    position: relative;
  }
  .fff {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    top: 45px;
  }
  .about-box {
    flex: none;
  }
  .about-title {
    position: relative;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
  }
  .about-text {
    font-size: 14px;
    font-weight: 400;
    padding: 0px 24px 0px 0px;
    text-align: left;
  }
  .about-subtitle {
    position: relative;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
  }
  p.about-text {
    margin-top: 9px;
  }
  #ss2.container {
    position: absolute;
    display: flex;
  }
  .rr1 {
    position: relative;
    top: 444px;
    left: 190px;
  }
  .rr1 img {
    position: absolute;
    width: 44px;
  }
  .rr2 {
    position: relative;
    top: 258px;
    right: -334px;
  }
  .rr2 img {
    position: absolute;
    height: 47px;
  }
  .rr3 {
    position: relative;
    top: 5px;
    left: 25px;
  }
  .rr3 img {
    position: absolute;
    width: 50px;
  }
  .rr4 {
    position: relative;
    top: 16px;
    left: 309px;
  }

  .rr4 img {
    position: absolute;
    width: 60px;
  }
  .rr5 {
    position: relative;
    top: 565px;
    left: 236px;
  }
  .rr5 img {
    position: absolute;
    width: 70px;
  }
  .rr6 {
    position: relative;
    top: 52px;
    right: -203px;
  }
  .rr6 img {
    position: absolute;
    width: 20px;
  }

  .rr7 {
    position: relative;
    top: 266px;
    right: 34px;
  }
  .rr7 img {
    position: absolute;
    width: 20px;
  }
  .rr8 {
    position: relative;
    top: 593px;
    left: 7px;
  }
  .rr8 img {
    position: absolute;
    width: 20px;
  }
  .grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
  }
  .hhh h1 {
    text-align: justify;
    margin-top: 50px;
  }
  .child1 {
    padding: 0px;
    text-align: left;
  }
  .child1 p {
    padding-right: 9px;
    padding-left: 0px;
  }
  .child2 {
    text-align: left;
    padding: 0px;
  }
  .child2 p {
    padding-right: 0px;
    padding-left: 0px;
  }
  .child3 {
    text-align: left;
    padding: 0px;
  }
  .child3 p {
    padding-right: 10%;
    padding-left: 0px;
  }
  .child4 img {
    margin-top: 0px;
  }
  .child4 {
    padding: 0px;
    text-align: left;
  }
  .child4 p {
    padding-right: 9%;
    padding-left: 0px;
  }
  .child5 {
    padding: 0px;
    text-align: left;
  }
  .child5 p {
    padding-left: 0px;
    padding-right: 10%;
  }
  .child6 {
    padding: 0px;
    text-align: left;
  }
  .child6 p {
    padding-right: 15px;
    padding-left: 0px;
  }
  #ss4 {
    position: relative;
    margin-top: 0px;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
  }
  #ss4 #theme {
    width: 305px;
    height: 381px;
    transform: none;
    position: relative;
    left: 55px;
  }
  #theme {
    transform: none;
  }
  .pen {
    display: flex;
    flex-direction: column;
  }
  .hell h1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .vector {
    display: flex;
    position: absolute;
  }
  .hell p {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
  }
  .hell2 p {
    padding-left: 0px;
    font-size: 19px;
    font-weight: 700;
  }
  .hell1 h1 {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
  }
  .rr9 {
    display: flex;
    position: absolute;
    top: 447px;
    left: 14px;
  }
  .rr9 img {
    position: absolute;
    width: 51px;
  }
  .rr10 {
    display: flex;
    position: absolute;
    top: 533px;
    left: 12px;
  }
  .rr10 img {
    width: 50px;
  }
  .rr11 {
    display: flex;
    position: absolute;
    top: 433px;
    left: 322px;
  }
  .rr11 img {
    width: 49px;
  }
  .rr12 {
    display: flex;
    position: relative;
    top: 430px;
    left: 90px;
  }
  .rr12 img {
    position: absolute;
    width: 47px;
  }
  .rr13 {
    display: flex;
    position: relative;
    top: 521px;
    left: 307px;
  }

  .rr13 img {
    width: 65px;
  }
  .rr14 {
    display: flex;
    position: absolute;
    top: 403px;
    left: 55px;
  }
  .rr14 img {
    width: 15px;
  }
  .rr15 {
    display: flex;
    position: relative;
    top: 692px;
    left: 282px;
  }
  .rr15 img {
    width: 15px;
  }
  .rr16 {
    position: relative;
    display: flex;
    top: 626px;
    left: -73px;
  }
  .rr16 img {
    width: 15px;
  }
  #ss5 {
    height: 230px;
  }
  .path {
    display: flex;
    flex-direction: column;
  }
  .path h1 {
    text-align: left;
  }
  .path p {
    margin-top: 15px;
    padding-left: 0px;
    font-size: 19px;
  }
  .path h2 {
    font-size: 19px;
    font-weight: 400px;
    padding-left: 0px;
    padding-right: 98px;
  }
  #ss6 .container {
    display: flex;
    flex-direction: column;
  }
  .pp1 input {
    width: 326px;
  }
  .pp2 input {
    width: 326px;
  }
  .field {
    display: flex;
    flex-direction: column;
  }
  .box1 input {
    width: 326px;
  }
  .box2 input {
    width: 326px;
  }
  #contact-form h1 {
    font-size: 24px;
    font-weight: 700px;
    margin-top: 0px;
  }
  .pp1 p {
    padding-right: 114px;
  }
  #contact-form label {
    font-size: 14px;
  }
  #ss7 {
    justify-content: center;
    text-align: center;
    display: flex;
    padding-bottom: 282px;
  }
  .footer {
    position: relative;
    top: 154px;
  }
  .footer1 {
    position: relative;
    top: 157px;
  }
  .footer1 p {
    padding-right: 10px;
    padding-left: 0px;
  }
  .footer4 h1 {
    margin-bottom: 0px;
    position: relative;
    top: 222px;
  }
  .footer5 img {
    position: relative;
    top: 202px;
  }
  .footer3 {
    position: relative;
    top: 181px;
  }
  .footer3 p {
    word-spacing: 0px;
    font-size: 23px;
  }
  .footer2 h1 {
    position: relative;
    top: 171px;
  }
  .footer2 img {
    position: relative;
    top: 169px;
  }
  .vectors {
    position: absolute;
  }
  .rr18 {
    position: absolute;
    display: flex;
    top: 291px;
    left: 309px;
  }
  .rr18 img {
    position: relative;
    width: 47px;
  }
  .rr19 {
    display: flex;
    position: absolute;
    top: 569px;
    left: 289px;
  }
  .rr19 img {
    position: relative;
    width: 52px;
  }
  .rr20 {
    position: absolute;
    display: flex;
    top: 49px;
    left: 31px;
  }
  .rr20 img {
    position: relative;
    width: 68px;
  }
  .rr21 {
    position: absolute;
    display: flex;
    top: 299px;
    left: 34px;
  }
  .rr21 img {
    position: relative;
    width: 90px;
  }
  .rr22 {
    position: absolute;
    display: flex;
    top: 105px;
    left: 276px;
  }
  .rr22 img {
    position: relative;
    width: 25px;
  }
  .rr23 {
    position: absolute;
    display: flex;
    top: 603px;
    left: 44px;
  }
  .rr23 img {
    position: relative;
    width: 25px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  header img {
    display: flex;
    padding-top: 30px;
    height: 85px;
    width: 198px;
  }
  #ss1 .container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .ggg {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
  }
  .ggg h1 {
    font-size: 32px;
    font-weight: 600px;
    line-height: 37.5px;
    margin-top: 39px;
  }
  .Frame img {
    position: relative;
  }
  .ggg p {
    font-size: 17px;
    font-weight: 400;
    top: 10px;
    position: relative;
  }
  .text {
    display: flex;
    flex-direction: column-reverse;
  }
  .ggg button {
    position: relative;
    top: 10px;
  }
  .test p {
    font-size: 17px;
  }
  .text h1 {
    margin-top: 0px;
    font-size: 22px;
  }
  #ss2.container {
    position: relative;
  }
  .fff {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .about-box {
    flex: none;
  }
  .about-title {
    position: relative;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
  }
  .about-text {
    font-size: 14px;
    font-weight: 400;
    padding: 0px 24px 0px 0px;
    text-align: left;
  }
  .about-subtitle {
    position: relative;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
  }
  p.about-text {
    margin-top: 9px;
  }
  #ss2.container {
    position: absolute;
    display: flex;
  }
  .rr1 {
    position: relative;
    top: 301px;
    left: 211px;
  }
  .rr1 img {
    position: absolute;
    width: 44px;
  }
  .rr2 {
    position: relative;
    top: 275px;
    left: 656px;
  }
  .rr2 img {
    position: absolute;
    height: 47px;
  }
  .rr3 {
    position: absolute;
    top: 9px;
    left: 34px;
  }
  .rr3 img {
    position: absolute;
    width: 41px;
  }
  .rr4 {
    position: relative;
    top: 2px;
    left: 559px;
  }

  .rr4 img {
    position: absolute;
    width: 60px;
  }
  .rr5 {
    position: relative;
    top: 146px;
    left: 453px;
  }
  .rr5 img {
    position: absolute;
    width: 70px;
  }
  .rr6 {
    position: relative;
    top: 42px;
    left: 324px;
  }
  .rr6 img {
    position: absolute;
    width: 20px;
  }

  .rr7 {
    position: relative;
    top: 161px;
    right: 34px;
  }
  .rr7 img {
    position: absolute;
    width: 20px;
  }
  .rr8 {
    position: relative;
    top: 333px;
    left: 489px;
  }
  .rr8 img {
    position: absolute;
    width: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
  }
  .hhh h1 {
    margin-top: 50px;
  }
  .child1 {
    padding: 45px 0px 0px;
  }
  .child1 p {
    padding-right: 9px;
    padding-left: 0px;
  }
  .child2 {
    padding: 0px;
  }
  .child2 p {
    padding-right: 0px;
    padding-left: 0px;
  }
  .child3 {
    padding: 0px;
  }
  .child3 p {
    padding-right: 10%;
    padding-left: 0px;
  }
  .child4 img {
    margin-top: 0px;
  }
  .child4 {
    padding: 30px 0px;
  }
  .child4 p {
    padding-right: 0px;
    padding-left: 0px;
  }
  .child5 {
    padding: 8px 0px;
  }
  .child5 p {
    padding-left: 0px;
    padding-right: 0px;
  }
  .child6 {
    padding: 2px 0px;
  }
  .child6 p {
    padding-right: 15px;
    padding-left: 0px;
  }
  #ss4 {
    position: relative;
    margin-top: 0px;
    height: 755px;
    display: flex;
    flex-direction: column-reverse;
  }
  #ss4 #theme {
    width: 305px;
    height: 381px;
    transform: none;
    position: relative;
    left: 216px;
  }
  #theme {
    transform: none;
  }
  .pen {
    display: flex;
    flex-direction: column;
  }
  .hell h1 {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 56px;
  }
  .vector {
    display: flex;
    position: absolute;
  }
  .hell p {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
  }
  .hell2 p {
    padding-left: 0px;
    font-size: 19px;
    font-weight: 700;
  }
  .hell1 h1 {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
  }
  .rr9 {
    display: flex;
    position: absolute;
    top: 377px;
    left: 148px;
  }
  .rr9 img {
    position: absolute;
    width: 70px;
  }
  .rr10 {
    display: flex;
    position: absolute;
    top: 602px;
    left: 66px;
  }
  .rr10 img {
    width: 70px;
  }
  .rr11 {
    display: flex;
    position: absolute;
    top: 425px;
    left: 486px;
  }
  .rr11 img {
    width: 70px;
  }
  .rr12 {
    display: flex;
    position: relative;
    top: 459px;
    left: 46px;
  }
  .rr12 img {
    position: absolute;
    width: 70px;
  }
  .rr13 {
    display: flex;
    position: relative;
    top: 610px;
    left: 509px;
  }

  .rr13 img {
    width: 70px;
  }
  .rr14 {
    display: flex;
    position: absolute;
    top: 483px;
    left: 175px;
  }
  .rr14 img {
    width: 30px;
  }
  .rr15 {
    display: flex;
    position: relative;
    top: 488px;
    left: 547px;
  }
  .rr15 img {
    width: 30px;
  }
  .rr16 {
    position: relative;
    display: flex;
    top: 626px;
    left: -73px;
  }
  .rr16 img {
    width: 30px;
  }
  #ss5 {
    height: 162px;
  }
  .path {
    display: flex;
    flex-direction: column;
  }
  .path h1 {
    text-align: left;
  }
  .path p {
    margin-top: 0px;
    padding-left: 0px;
    font-size: 19px;
  }
  .path h2 {
    font-size: 19px;
    font-weight: 400px;
    padding-left: 0px;
    padding-right: 98px;
  }
  #ss6 .container {
    display: flex;
    flex-direction: column;
  }
  .pp1 input {
    width: 500px;
  }
  .pp2 input {
    width: 500px;
  }
  .field {
    display: flex;
    flex-direction: row;
  }
  .box1 input {
    width: 242px;
  }
  .box2 input {
    width: 242px;
  }
  #contact-form h1 {
    font-size: 32px;
    font-weight: 700px;
    margin-top: 0px;
  }
  .pp1 p {
    padding-right: 114px;
  }
  #contact-form label {
    font-size: 14px;
  }
  #ss7 {
    justify-content: center;
    text-align: center;
    display: flex;
    padding-bottom: 282px;
  }
  .footer {
    position: relative;
    top: 154px;
  }
  .footer1 {
    position: relative;
    top: 157px;
  }
  .footer1 p {
    padding-right: 10px;
    padding-left: 0px;
  }
  .footer4 h1 {
    margin-bottom: 0px;
    position: relative;
    top: 222px;
  }
  .footer5 img {
    position: relative;
    top: 202px;
  }
  .footer3 {
    position: relative;
    top: 181px;
  }
  .footer3 p {
    word-spacing: 0px;
    font-size: 23px;
  }
  .footer2 h1 {
    position: relative;
    top: 171px;
  }
  .footer2 img {
    position: relative;
    top: 169px;
  }
  .vectors {
    position: absolute;
  }
  .rr18 {
    position: absolute;
    display: flex;
    top: 542px;
    left: 595px;
  }
  .rr18 img {
    position: relative;
    width: 70px;
  }
  .rr19 {
    display: flex;
    position: absolute;
    top: 82px;
    left: 523px;
  }
  .rr19 img {
    position: relative;
    width: 70px;
  }
  .rr20 {
    position: absolute;
    display: flex;
    top: 35px;
    left: 94px;
  }
  .rr20 img {
    position: relative;
    width: 80px;
  }
  .rr21 {
    position: absolute;
    display: flex;
    top: 278px;
    left: 92px;
  }
  .rr21 img {
    position: relative;
    width: 79px;
  }
  .rr22 {
    position: absolute;
    display: flex;
    top: 139px;
    left: 416px;
  }
  .rr22 img {
    position: relative;
    width: 35px;
  }
  .rr23 {
    position: absolute;
    display: flex;
    top: 603px;
    left: 44px;
  }
  .rr23 img {
    position: relative;
    width: 35px;
  }
}
